body {
  display: flex;
  justify-content: center;
  background-color: grey;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 10px;
}

h1 {
  font-size: 28px;
  color: red;
}

.content {
  width: 60%;
  margin-top: 5%;
  background-color: rgb(4, 4, 59);
  border: 10px solid rgb(61, 59, 59);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: white;
}

.remove-icon {
  display: none;
}

.edit-disabled {
  display: none;
}

.trash-active {
  display: block;
}

.check-to-do {
  text-decoration: line-through;
}

#add-input {
  width: 99%;
  height: 40px;
  border: none;
  padding-left: 10px;
  font-size: 16px;
  transition: 5s;
}

input::placeholder {
  font-style: italic;
  font-size: 16px;
}

.toDocontainer {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 2px solid rgb(184, 181, 181);
  padding: 1px 10px;
  text-transform: uppercase;
  background-color: rgb(192, 127, 48);
}

.toDocontainer:nth-child(even) { background-color: #933434; }

.toDocontainer:hover {
  background-color: blue;
}

.checkedContainer {
  background-color: red;
}

#clear-content {
  font-size: 24px;
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  cursor: pointer;
}

form {
  display: flex;
  align-items: center;
  padding-right: 10px;
  border-top: 2px solid rgb(208, 204, 204);
  border-bottom: 2px solid rgb(208, 204, 204);
}

#enter-arrow {
  color: rgb(181, 176, 176);
  padding-right: 10px;
}

.description {
  flex: 1;
  padding-left: 10px;
}
